<div class="panel panel-default">
    <div class="panel-heading">Add Your Book</div>
    <div class="panel-body">
        <form class="form" ng-submit="$ctrl.addBook($ctrl.newBook)">
            
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" ng-model="$ctrl.newBook.title">
            </div>
            
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" ng-model="$ctrl.newBook.author">
            </div>
            
            <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" class="form-control" ng-model="$ctrl.newBook.image">
            </div>
            
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Add</button>
                <button class="btn btn-danger" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>